.title {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    color: #08b4df;
    font-size: 16px;
    //text-transform: uppercase;
}

.phone-number {
    font-family: Century Gothic, sans-serif;
}

.position {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.ui-header, .ui-title, .ui-footer{
    margin-right: 0 !important;
    margin-left: 0 !important;
}


